<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
       {{> nav }}
        <h3> {{title}} Section</h3>
        <p> About DCT Academy </p>

        {{> footer}}
    </body>
</html>